.page {
  display: flex;
  width: 100%;
  height: 100vh;
}

.abaLateral {
  position: fixed;
  top: 0;
  left: 0;
  width: 20vw;
  height: 100vh;
  background-color: #FEADA6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  filter: sepia();
  width: 150px;
}

.container {
  position: absolute;
  top: 50%;
  left: calc(50% + 10vw);
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}

.caixaform {
  background-color: #FEADA6;
  padding: 25px;
  border-radius: 10px;
  width: 450px;
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 100%;
  padding-left: 45px;
  font-size: 14px;
}

.button {
  background-color: #fffffff8;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  padding: 12px;
  width: 158px;
  font-size: 16px;
  margin: 0 auto;
  text-decoration: none;
  color: #000;
  text-align: center;
}

.nome, .email, .senha {
  position: relative;
}

.perfil, .caixaEmail, .cadeadoSenha {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.visualizarSenha {
  position: absolute;
  right: 10px;
  top: 60%;
  transform: translateY(-50%);
  cursor: pointer;
}

.campoData {
  position: relative;
}

.calendario {
  position: absolute;
  left: 15px;
  top: 20px;
  transform: translateY(-50%);
}

.campoGenero {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.opcaoGenero {
  background-color: white;
  padding: 10px 12px;
  border-radius: 5px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.buttonVoltar {
  position: absolute;
  top: 10px;
  left: 21%;
  cursor: pointer;
}

.mensagemErro, .mensagemSucesso {
  width: 300px;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  font-weight: 300;
  top: 60%;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.75);
}

.mensagemErro {
  background-color: rgb(252, 122, 122);
  color: #000000; 
}

.mensagemSucesso {
  background-color: #86ddb1;
  color: rgb(0, 0, 0);
}
