.abaLateral {
  position: fixed;
  top: 0;
  left: 0;
  width: 20vw;
  height: 100vh;
  background-color: #FEADA6;
  display: flex;
  justify-content: center; 
  align-items: center;  
  }

.logo {
  filter: sepia(); 
  height: auto;
  display: block;
  width: 180px;
}

.container {
 display: flex;  /*define a distancias das caixas de dentro*/
 flex-direction: column; /*organiza em colunas*/
 align-items: center; /*coloca os botões no centro*/
 top: 50%; /*define a altura da caixa completa*/
 left: calc(50% + 120px); /*traz o container todo para direita*/
 transform: translate(-50%, -50%);
 position: absolute;
}

.caixaform{ 
  background-color: #FEADA6;
  padding: 25px; 
  border-radius: 10px; /*arredonda as bordas*/
  width: 450px; /*define o tamanho das caixas - comprimento*/
  height: auto; /*define o tamanho da caixa - altura */
  display: flex; /*define a distancias das caixas de dentro*/
  flex-direction: column; /*organiza em colunas*/
  gap: 28px; /*define a distancia das caixas*/    
}

.input {
  padding: 10px; /*define o tamanho das caixas - altura*/
  border: none; /*remove a borda*/
  border-radius: 5px; /*arredonda as bordas*/
  font-size: 14px; /*tamanho do texto*/
  width: 100%; /*define o tamanho das caixas - comprimento*/
  padding-left: 45px;
}

.button {
  background-color: #fffffff8;
  border: none; /*remove a borda*/ 
  border-radius: 5px; /*arredonda as bordas*/
  font-weight: bold; /*deixa em negrito*/
  padding: 12px ; /*define o tamanho da caixa - altura*/
  width: 158px; /*define o tamanho da caixa - comprimento*/
  margin: 0 auto; /*centraliza o botão no meio*/
  font-size: 16px;
  display: block;
  text-decoration: none;
  color: #000; 
  text-align: center;
}

.campoData{
  position: relative;
}

.calendario {
  position: absolute;
  left: 15px;
  top: 20px;
  transform: translateY(-50%);
}

.campoGenero {
  display: flex; /*coloca as opções lado a lado*/
  gap: 40px; /*distância entre as opções*/
}

.opcaoGenero {
  background-color: #ffffff; 
  padding: 10px 12px; 
  border-radius: 5px;
  display: flex;
  justify-content: space-between; 
  width: 100%; 
  font-size: 16px; 
}

.nome {
  position: relative; 
}

.perfil {
  position: absolute;
  left: 15px; 
  top: 50%;
  transform: translateY(-50%);
}

.email {
  position: relative; 
}

.caixaEmail {
  position: absolute;
  left: 15px; 
  top: 50%;
  transform: translateY(-50%);
}

.senha {
  position: relative; 
}

.cadeadoSenha {
  position: absolute;
  left: 15px; 
  top: 50%;
  transform: translateY(-50%);
}

.visualizarSenha {
  position: absolute;
  right: 10px; 
  top: 60%;
  transform: translateY(-50%);
  cursor: pointer; 
}

.buttonVoltar {
  position: absolute;
  top: 10px;
  left: 21%;
  cursor: pointer;  
}

@media (max-width: 1199px) {
  .logo {
    width: 110%;
    max-width: 320px;  
  }
}