.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.page {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.buttonVoltar {
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
}

.listaMateriais {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.itemMaterial {
  background-color: #FEADA6;
  padding: 15px;
  border-radius: 5px;
  width: 90vw;    
}

.itemMaterial p {
  font-size: 22px;
}
