.page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.logo {
  margin: 0 auto;
}

.buttonVoltar {
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  width: 100%;
  max-width: 800px; 
}

.caixa {
  background-color: #feada6;
  border-radius: 7px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-basis: 320px;
}

.organizacao {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.textos {
  display: flex;
  flex-direction: column;
}

.subject {
  margin: 0 !important; 
  font-size: 11px;
}

.organizacao h3 {
  margin-top: 10px;
  font-weight: normal;
  font-size: 16px;
  flex-direction: column;
}

.caixa p {
  margin-top: 19px;
}

.botaoIniciar {
  background-color: #fedbd8;
  border: none;
  border-radius: 5px;
  padding: 0.3rem 1rem; 
  font-size: 15px;
  cursor: pointer;
}

.buttonSemEstilo {
  align-self: flex-end;
}

.marcada {
  color: blue;
}