
.accordionContainer {
  display: flex;
  flex-direction: column;
}

.accordionItem { 
  background-color: #ffdad7;
  border-radius: 4px;
  font-size: 15px;
}

.accordionItem p {
  padding: 12px;
  color: black;
}

.links {
  color: blue;
  margin-left: 20px;
  margin-bottom: 5px;
  margin-top: 5px;
}