.page {
  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100vh;
}

.abaLateral {
  position: fixed;
  top: 0;
  left: 0;
  width: 20vw;
  height: 100vh;
  background-color: #FEADA6;
  justify-content: flex-start;
  display: flex;
  align-items: center;
  }

.logo {
  filter: sepia(); 
  height: auto;
  display: block;
  max-width: 100%;
}