.page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.botaoVoltar {
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
}

.grafico{
  display: block;
  margin-bottom: 15px;
  margin-top: 6px;
}

.cabecalho {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: -3px;
}

.logo{
  display: block;
  margin: 20px auto;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  width: 100%;
  max-width: 800px; 
}

.caixa {
  background-color: #feada6;
  border-radius: 7px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-basis: 320px;
}

.caixa p {
  margin-top: 19px;
  font-size: 17px;
}

.botaoIniciar {
  background-color: #fedbd8;
  border: none;
  border-radius: 5px;
  padding: 0.3rem 1rem; 
  font-size: 15px;
  cursor: pointer;
  margin-top: 6px;
  margin-left: 70%;
}

