.page {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
}

.logo{
  margin: 0 auto;
}
  
.buttonVoltar {
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
}

.containerQuestion {
  display: flex;
  align-items: center;
  margin: 15px;
}

.numberQuestion {
  background-color: #FEADA6;
  width: 60px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.enunciadoQuestion {
  margin-left: 5px;
  font-size: 17px;
  font-weight: 30; 
}