.container {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  padding: 50px;
}

.header {
  display: flex;
  align-items: justify;
  gap: 5px;
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 30px;
}

.numero {
  background: #FEADA6;
  color: rgb(0, 0, 0);
  padding: 4px 10px;
  border-radius: 20px;
  margin-top: -30px;
}

.label{
    margin-top: -30px;
}

.containerQuestao {
  border: 2px solid #FEE1DA;
  border-radius: 16px;
  padding: 25px;
  margin-top: 20px;
  gap: 25px;    
}

.enunciado {
  font-size: 18px;
  margin-bottom: 20px;
  text-align: justify;
}

.listaAlternativas {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 14px;    
}

.alternativa {
  display: flex;
  align-items: center;
  background: #FEE1DA;
  border: 2px solid #FECBC3;
  border-radius: 10px;
  padding: 14px;
  cursor: pointer;
}

.alternativa:hover {
  background: #FFF1EF;
}

.marcada {
  border-color: #FEADA6;
  background: #fdeeec;
}

.letras {
  width: 40px;
  height: 40px;
  background: #FEADA6;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-right: 15px;
  font-size: 18px;
}

.botoes {
  display: flex;
  gap: 10px;
  margin-top: 25px;
}

.botoes button {
  background: #FEADA6;
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.botoes button:disabled {
  background: #FECBC3;
  cursor: not-allowed;
}

.resultadoContainer {
  max-width: 800px;
  margin: 2rem auto;
  padding: 2rem;
  text-align: center;
}

.tituloResultado {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 5%;
}

.resumoResultado {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.listagemResultados {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.resultadoItem {
  padding: 1.2rem;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  text-align: left;
}

.certo {
  background-color: #e8f8e8;
  border-left: 6px solid #2ecc71;
}

.errado {
  background-color: #fdeaea;
  border-left: 6px solid #e74c3c;
}

.resultadoHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.minhaResposta {
  margin-bottom: 0.3rem;
  margin-bottom: 10px;
}

.buttonVoltar {
  position: relative;
  top: 10px;
  left: 1%;
  cursor: pointer;
}

.paragrafo {
  margin-bottom: 0.5rem;
}